/* ===============================================================================================================================================================================
                        Default
================================================================================================================================================================================ */
body {
    margin: 0;
    padding: 10px 50px;
    background-color: #1c1c1b;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

body, nav {
    height: 100%;
    background-image: url('img/banner.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* or use '100% 100%' if you prefer stretching */
    background-position: center;
    border: 2px solid white;
}

#restaurantName {
    margin: 80px 0px 0px 0px;
    color: white;
    font-family: cursive;
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: 0.3rem;
    border: 2px solid white;
}

#restaurantDescription {
    margin: 20px 0px;
    color: white;
    font-family: cursive;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    border: 2px solid white;
    width: 60%;
}

/* ===============================================================================================================================================================================
                        NAVIGATION BAR
================================================================================================================================================================================ */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c1c1b;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 2.5rem;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover{
    color: #f39c12;
}

.order-btn {
    background-color: #f39c12;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.order-btn:hover {
    background-color: #e67e22;
}

#index-order-btn {
    display: inline-block;
    width: fit-content;
    text-align: start;
}

/* ===============================================================================================================================================================================
                        Phone
================================================================================================================================================================================ */
@media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: center;
    }

    .nav-links {
      flex-direction: column;
      align-items: center;
      margin: 1rem 0;
    }
}